/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
img{
    width: 100%;
}
a{
    text-decoration: none;
}
/* sezioni */
header ul{
    list-style: none;
    gap: 50px;

}
header a{
    text-decoration: none;
}

header{
    min-height: 85px;
    
}
footer{
    min-height: 600px;
}

/* classi */
.container-hero-footer{
    margin: 0 auto;
    width: 70%;
}
.container{
    margin: 0 auto;
    width: 60%;
}
.column{
    margin: 0 auto;
    width: 90%;

}
.col-20{
    border: 1px solid white;
    width: 20%;
    /* debug */
    height: 300px;
}
.flex{
    display: flex;
    /* debug */
    
    
}
.font-size-2-4rem{
    font-size: 2.4rem;
}
.font-size-big{
    font-size: 4.7rem;
}
.gap-80{
    gap: 80px;
}
.gap-20{
    gap: 50px;
}
.warp{
    flex-wrap: wrap;
}
.jc-content-between{
    justify-content: space-between;
}
.jc-content-center{
    justify-content: center;
}
.aitems-center{
    align-items: center;

}
.paddin-top-100{
    padding-top: 100px;
}
.padding-top-50{
    padding-top: 50px;
}
.padding-top-80{
    padding-top: 80px;
}
.padding-10{
    padding: 10px;

}
.margin-top{
    margin-top: 50px;
}
/* larghezze */
.width-100{
    width: 100%;
}
.width-60{
    width: 65%;
}
.width-40{
    width: 35%;
}
.width-30{
    width: 30%;
}
.width-x3{
    width: calc(100 / 3);
}
.button-blue{
    padding: 10px 20px;
    background-color: #0061ff;
    margin-right: 20px;
    display: inline-block;
    color: white;
}
/* color */
.text-white{
    color: white;
}
.blue{
    color: blue;
}
/* sezione immagini */
.img-logo{
    width: 150px;
    margin: 0 50px 0 25px;

}
/* debug */
.min-h{
    min-height: 1000px;
}
.min-h1{
    height: 400px;
}
.min-h2{
    min-height: 800px;

}
.min-h3{
    height: 300px;
}
.border{
    border: 1px solid black;
}
/* bg-color */
.bg-light-blue{
    background-color: #d7e6fb;
    
}
.bg-black{
    background-color: black;
}