/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
img{
    width: 100%;
}
a{
    text-decoration: none;
}
ul{
    
}
li{
    padding-top: 15px;
}
p{
    line-height:  23px;
}
/* sezioni */
header ul{
    list-style: none;
    gap: 50px;

}
header a{
    text-decoration: none;
}

header{
    min-height: 85px;
    
}
footer{
    min-height: 600px;
}

/* classi */
.container-hero-footer{
    margin: 0 auto;
    width: 70%;
}
.container{
    margin: 0 auto;
    width: 60%;
}
.column{
    margin: 0 auto;
    width: 80%;

}
.col-20{
    border: 1px solid white;
    width: 20%;
    /* debug */
    min-height: 300px;
}
.flex{
    display: flex;
    /* debug */
    
    
}
.font-size-2-4rem{
    font-size: 2.4rem;
}
.font-size-big{
    font-size: 4.7rem;
}
.gap-80{
    gap: 80px;
}
.gap-20{
    gap: 50px;
}
.warp{
    flex-wrap: wrap;
}
.jc-content-between{
    justify-content: space-between;
}
.jc-content-center{
    justify-content: center;
}
.aitems-center{
    align-items: center;

}
.text-center{
    text-align: center;
}
.paddin-top-100{
    padding-top: 100px;
}
.padding-top-50{
    padding-top: 50px;
}
.padding-top-30{
    padding-top: 30px;
}
.padding-top-80{
    padding-top: 80px;
}
.{
    padding-bottom: 100px;
}
.padding-10{
    padding: 10px;

}
.padding-top-10{
    padding-top: 20px;

}
.paddin-left{
    padding-left: 20px;
}
.margin-top{
    margin-top: 50px;
}
.margin-top-100{
    margin-top: 100px;
}
.margin-bottom{
    margin-bottom: 100px;
}
/* larghezze */
.width-100{
    width: 100%;
}
.width-60{
    width: 65%;
}
.width-40{
    width: 35%;
}
.width-30{
    width: 30%;
}
.width-90{
    width: 90%;
}
.button-blue{
    padding: 10px 20px;
    background-color: #0061ff;
    margin-right: 20px;
    display: inline-block;
    color: white;
}
.border-bottom{
    border-bottom: 1px solid black;
}
.border-botton-black{
    padding-bottom: 50px;
    border-bottom: 1px solid black;
}
.shopnow{
    color: #0061ff;
}
/* color */
.text-white{
    color: white;
}
.blue{
    color: #0061ff;
}
/* sezione immagini */
.img-logo{
    width: 150px;
    margin: 0 50px 0 25px;

}
/* debug */
.min-h{
    min-height: 1000px;
}
.min-h1{
    min-height: 400px;
}
.min-h2{
    min-height: 800px;

}
.min-h3{
    min-height: 300px;
}
.border{
    border: 1px solid black;
}
/* bg-color */
.bg-light-blue{
    background-color: #d7e6fb;
    
}
.bg-black{
    background-color: black;
}
/* lista */

.lista-funzionalita li {
  display: flex; 
  align-items: center; 
  margin-bottom: 20px; 
  color: rgb(51, 51, 51); 
}

.lista-funzionalita .icona-utente,
.lista-funzionalita .icona-spazio,
.lista-funzionalita .icona-condivisione {
  font-size: 1rem; 
  margin-right: 10px; 
  

}
.lista-funzionalita .icona-spazio,
.lista-funzionalita .icona-condivisione{
    margin-bottom: 20px;
}